# Ignore docs
README.md           export-ifnore
LICENSE.md          export-ignore

# Ignore git files
.gitattributes      export-ignore
.gitignore          export-ignore

# Ignore config files
.travis.yml         export-ignore
phpunit.xml.dist    export-ignore

# Ignore unit tests
tests               export-ignore